<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/flexslider.css" type="text/css" />
    <link rel="stylesheet" href="../css/login.css" type="text/css"/>


    <script type="text/javascript" src="../Js/jquery.min.js"></script>
    <script type="text/javascript" src="../Js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="../Js/classie.js"></script>
    <script type="text/javascript" src="../Js/uisearch.js"></script>
    <script type="text/javascript" src="../Js/Login.js"></script>
    <script type="text/javascript" src="../ajax.js"></script>
    <script defer src="../Js/jquery.flexslider.js" type="text/javascript"></script>

</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="top-right">
                    <ul>
                        #if(!$Data.loginuser.equals(""))
                        <li class="text"><a class="theme-login">$Data.loginuser 已登录</a>&nbsp;&nbsp;<a class="theme-login" onclick="logout()"> 退出登录</a></li>
                        <li class="text"><a class="theme-login" href="../Hander/rentstate.ashx?username=" +$Data.loginuser>我的影碟记录</a></li>
                        #else
                        <li class="text"><a class="theme-login" href="javascript:;" onclick="prevent();">登录</a></li>
                        <li class="text"><a class="theme-login" href="../template/register.html">注册</a></li>
                        #end
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>



        <div class="header-bottom">
            <div class="container">
                <!--/.content-->
                <div class="content white">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="navbar-brand"><a href="index.html">QL影碟出租屋</a></h1>
                        </div>
                        <!-----------------------------------------------------菜单----------------------------------------------------------->

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="../Hander/index.ashx">首页</a></li>
                                <li><a href="../Hander/CDproduct.ashx">影碟介绍</a></li>
                                <li><a href="../Hander/rentstate.ashx">出借情况</a></li>
                                <li><a href="../Hander/Helpcilent.ashx">FAQ 帮助中心</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!---------------------------------------------------------------------------------------------------------------------------->


                <script> new UISearch( document.getElementById( 'sb-search' ) ); </script>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-----------------------------------------登录遮罩层---------------------------------->
    <div class="theme-popover">
        <div class="theme-poptit">
            <a href="javascript:;" title="close" id="button" class="close">×</a>
            <h3>Login or register</h3>
        </div>
        <form class="theme-signin">
            <div class="theme-popbod dform">
                <ol>
                    <li>
                        <strong>用户名：</strong><input class="ipt " id="txtUserName" placeholder="name." type="text" name="log" value="" maxlength="9"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li>
                        <strong>密  码：</strong><input class="ipt" id="txtPassword" placeholder=" password." type="password" name="pwd" value="" maxlength="9" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li><div id="usererror"></div></li>
                    <li>
                        <strong>验 证 码</strong>
                        <input class="ipt" type="text" id="verification" placeholder="the verification!" name="ver" value="" maxlength="5" />
                        <img src="../Hander/yzheng2.ashx" alt="clickchange" height="25" onclick="getimg()" id="checkimg" />
                        <div id="checkcodeerror"></div>
                    </li>
                    <li>     <input type="checkbox" checked="checked" id="chkRememberPwd" />记住 密码 <input type="checkbox" id="Adminlogin" />管理员登录</li>
                    <li>
                        <a href="../template/register.html"> <input class="btn btn-primary" type="button" name="submit" value="注册" /></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="btn btn-primary" type="button" name="submit" onclick="checkuser()" value="登录." />
                        <br />

                    </li>
                </ol>
            </div>
        </form>
    </div>
    <div class="theme-popover-mask"></div>
    <!--------------------------------------------------------------------------------------------------->             
                <div class="clearfix"></div>

    <div class="content">
        <div class="single">
            <div class="container">
                <div class="single-grids">
                    <div class="col-md-4 single-grid1">
                        <h2>影片欣赏</h2>
                        <video controls="controls" width="750" height="400">
                            <source src="$Data.CD.url" type="video/mp4" />
                      
                        </video>
                    </div>
                    <div class="col-md-4 single-grid">
              
                    </div>
                    <div class="col-md-4 single-grid simpleCart_shelfItem">
                        <h3>$Data.CD.name</h3>
                        <p>It was all very final on that gangway and I was grant too in my over coat. I cut quite a figure, and I was getting off, guaranteed. That wasn't the problem.4、It wasn't what I saw that stopped me, Max, it was what I didn't see. Do you understand that? What I didn't see.5、In all that sprawling city, there was everything except an end. There was no end.6、What I did not see was where the whole thing came to an end, the end of the world.7、Take a piano, hmm? The keys begin, the keys end. You know there are 88 of them. Nobody can tell you different. They are not infinite8、You are infinite. And on those keys, the music that you can make is infinite.9、I like that. That I can live by.10、You get me up on that gangway and you rill out in front of me a keyboard of millions of keys, Millions and billions of keys that never end.
                        </p>   
                        <div class="galry">
                            <div class="prices">
                                <h5 class="item_price">$Data.CD.price RMB</h5>
                            </div>
                            <div class="rating">
                                <span>☆</span>
                                <span>☆</span>
                                <span>☆</span>
                                <span>☆</span>
                                <span>☆</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tag">
                            #foreach($typeid in $Data.CDtype )
                                    #if($typeid.id.Tostirng().Replace(" ","").equals($Data.CD.typeid.Tostring().Replace(" ","")))
                                     <p>分类 : <a href="#">$typeid.name </a></p>
                                     <p>主演 : <a href="#">$Data.CD.star </a></p>
                            #end
                            #end
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- collapse -->
        <div class="collpse">
            <div class="container">
                <div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    猜你喜欢
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="related-products">
                                    <div class="container">  
                                        <div class="product-model-sec single-product-grids">
                                            #foreach($otherCD in $Data.otherCD) 
                                            <div class="product-grid single-product">
                                                <a href="CDinformation.ashx?CDid=$otherCD.id">
                                                    <div class="product-img b-link-stripe b-animate-go  thickbox">
                                                        <img src="$otherCD.imageurl" class="img-responsive" alt="">
                                                    </div>
                                                </a>
                                                <div class="product-info simpleCart_shelfItem">
                                                    <div class="product-info-cust prt_name">
                                                        <h4>$otherCD.name</h4>
                                                        <span class="item_price">$otherCD.price RMB</span>
                                                        <div class="ofr">
                                                            <p class="pric1"><del></del></p>
                                                            <p class="disc"></p>
                                                        </div>
                                                        <div class="clearfix"> </div>
                                                    </div>
                                                </div>     
                                            </div> 
                                             #end                                 
                                            <div class="clearfix"> </div>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    
                                </a>
                            </h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- collapse -->
       </div>
    </div> 

</body>
</html>