
<!DOCTYPE HTML>
<html>
<head>
    <title>影碟系统</title>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/owl.carousel.css" rel="stylesheet">
    <link href="../css/login.css"rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../Js/jquery.min.js"></script>
    <script type="text/javascript" src="../Js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="../Js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript"src="../Js/uisearch.js"></script>
    <script type="text/javascript"src="../Js/classie.js"></script>
    <link href="../css/form.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../Js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="../Js/Login.js"></script>
    <script type="text/javascript">
             function search()
             {

            var keyword=document.getElementById("search").value;
            ajax("../Hander/CDproduct.ashx?keyword=" + keyword, function (responsetext) { });
        }
    </script>
</head>


<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="top-right">
                    <ul>
                        #if(!$Data.loginuser.equals(""))
                        <li class="text"><a class="theme-login" href="javascript:;" onclick="prevent();">$Data.loginuser 已登录</a></li>
                        <li class="text"><a class="theme-login" href="../Hander/rentstate.ashx?username=" +$Data.loginuser>我的影碟记录</a></li>
                        #else
                        <li class="text"><a class="theme-login" href="javascript:;" onclick="prevent();">登录</a></li>
                        <li class="text"><a class="theme-login" href="../template/register.html">注册</a></li>
                        #end
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>



        <div class="header-bottom">
            <div class="container">
                <!--/.content-->
                <div class="content white">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="navbar-brand"><a href="index.html">QL影碟出租屋</a></h1>
                        </div>
                        <!-----------------------------------------------------菜单----------------------------------------------------------->

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="../Hander/index.ashx">首页</a></li>
                                <li><a href="../Hander/CDproduct.ashx">影碟介绍</a></li>
                                <li><a href="../Hander/rentstate.ashx">出借情况</a></li>
                                <li><a href="../Hander/Helpcilent.ashx">FAQ 帮助中心</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-----------------------------------------登录遮罩层---------------------------------->
                <div class="theme-popover">
                    <div class="theme-poptit">
                        <a href="javascript:;" title="close" id="button" class="close">×</a>
                        <h3>Login or register</h3>
                    </div>
                    <form class="theme-signin">
                        <div class="theme-popbod dform">
                            <ol>
                                <li>
                                    <strong>用户名：</strong><input class="ipt " id="txtUserName" placeholder="name." type="text" name="log" value="" maxlength="9"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </li>
                                <li>
                                    <strong>密  码：</strong><input class="ipt" id="txtPassword" placeholder=" password." type="password" name="pwd" value="" maxlength="9" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </li>
                                <li><div id="usererror"></div></li>
                                <li>
                                    <strong>验 证 码</strong>
                                    <input class="ipt" type="text" id="verification" placeholder="the verification!" name="ver" value="" maxlength="5" />
                                    <img src="../Hander/yzheng2.ashx" alt="clickchange" height="25" onclick="getimg()" id="checkimg" />
                                    <div id="checkcodeerror"></div>
                                </li>
                                <li>    <input type="checkbox" id="chkRememberPwd" />记住 密码 <input type="checkbox" id="Adminlogin" />管理员登录</li>
                                <li>
                                    <a href="../template/register.html"> <input class="btn btn-primary" type="button" name="submit" value="注册" /></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="btn btn-primary" type="button" name="submit" onclick="checkuser()" value="登录." />
                                    <br />

                                </li>
                            </ol>
                        </div>
                    </form>
                </div>
                <div class="theme-popover-mask"></div>
                <!--------------------------------------------------------------------------------------------------->
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search"/>
                            <input class="sb-search-submit" type="submit" onclick="search()" value="" />
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>

                <script> new UISearch(document.getElementById('sb-search')); </script>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--header-->
    <div class="content">
        <div class="product-model">
            <div class="container">
                <h2> 查询结果</h2>
                <div class="rsidebar span_1_of_left">
                    <section class="sky-form">
                        <div class="product_right">
                            <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>类别</h4>
                            <div class="tab1">
                                #foreach($cate in $Data.catedata)
                                <ul class="place">
                                    <a href="../Hander/CDproduct.ashx?categori=$cate.id"><li class="sort">$cate.name</li></a>
                                    <div class="clearfix"> </div>
                                </ul>
                                #end

                            </div>
                    </section>
                </div>
                <div class="col-md-9 product-model-sec">
                    
                    #foreach($CD in $Data.CDdetail)
                    <a href="../Hander/CDinformation.ashx?CDid=$CD.id">
                        <div class="product-grid">
                            <div class="more-product"><span> </span></div>
                            <div class="product-img b-link-stripe b-animate-go  thickbox">
                                <img src="$CD.imageurl" class="img-responsive" alt="">
                                <div class="b-wrapper">                         
                                </div>
                            </div>
                    </a>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <h4>$CD.name</h4>
                            <span class="item_price">$CD.price RMB</span>
                            <div class="ofr">
                                <p class="pric1"><del></del></p>
                                <p class="disc"></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    </div>
                #end


                <!----分页-->
                #if($Data.keyword)
                <div id="fy">
                    共 $Data.fy.totalcount 件/第  $Data.fy.pagenumber/$Data.fy.pagecount页
                    <a href="../Hander/CDproduct.ashx?pagenumber=1&keyword=$Data.keyword">  首页 </a>


                    #if($Data.fy.pagenumber>1)
                    #set($PastPageNum=$Data.fy.pagenumber-1)
                    <a href="../Hander/CDproduct.ashx?pagenumber=$PastPageNum&keyword=$Data.keyword"> 上一页|</a>
                    #end

                    <!--输出页表-->
                    #foreach($page in $Data.fy.pagedata)
                    #if($page.Title==$Data.fy.pagenumber)

                    <span style="font-size: 17px;">$page.Title</span>
                    #else
                    <a href="$page.Href&keyword=$Data.keyword">$page.Title</a>
                    #end
                    #end
                    <!--输出前后页-->
                    #if($Data.fy.pagenumber<$Data.fy.pagecount) #set($nextPageNum=$Data.fy.pagenumber+1)
                                       <a href="../Hander/CDproduct.ashx?pagenumber=$nextPageNum&keyword=$Data.keyword"> |下一页</a>
                             #end
                                    <a href="../Hander/CDproduct.ashx?pagenumber=$Data.fy.pagecount&keyword=$Data.keyword">  尾页</a>

                </div>

                #elseif($Data.categori)

                <div id="fy">
                    共 $Data.fy.totalcount 件/第  $Data.fy.pagenumber/$Data.fy.pagecount页
                    <a href="../Hander/CDproduct.ashx?pagenumber=1&categori=$Data.categori">  首页 </a>


                    #if($Data.fy.pagenumber>1)
                    #set($PastPageNum=$Data.fy.pagenumber-1)
                    <a href="../Hander/CDproduct.ashx?pagenumber=$PastPageNum&categori=$Data.categori"> 上一页|</a>
                    #end

                    <!--输出页表-->
                    #foreach($page in $Data.fy.pagedata)
                    #if($page.Title==$Data.fy.pagenumber)

                    <span style="font-size: 17px;">$page.Title</span>
                    #else
                    <a href="$page.Href&categori=$Data.categori">$page.Title</a>
                    #end
                    #end
                    <!--输出前后页-->
                    #if($Data.fy.pagenumber< $Data.fy.pagecount) #set($nextPageNum=$Data.fy.pagenumber+1)
                                       <a href="../Hander/CDproduct.ashx?pagenumber=$nextPageNum&categori=$Data.categori"> |下一页</a>
                             #end
                                    <a href="../Hander/CDproduct.ashx?pagenumber=$Data.fy.pagecount&categori=$Data.categori">  尾页</a>

                </div>

                #else
                <div id="fy">
                    共 $Data.fy.totalcount 件/第  $Data.fy.pagenumber/$Data.fy.pagecount页
                    <a href="../Hander/CDproduct.ashx?pagenumber=1">  首页 </a>


                    #if($Data.fy.pagenumber>1)
                    #set($PastPageNum=$Data.fy.pagenumber-1)
                    <a href="../Hander/CDproduct.ashx?pagenumber=$PastPageNum"> 上一页|</a>
                    #end

                    <!--输出页表-->
                    #foreach($page in $Data.fy.pagedata)
                    #if($page.Title==$Data.fy.pagenumber)

                    <span style="font-size: 17px;">$page.Title</span>
                    #else
                    <a href="$page.Href">$page.Title</a>
                    #end
                    #end
                    <!--输出前后页-->
                    #if($Data.fy.pagenumber< $Data.fy.pagecount) #set($nextPageNum=$Data.fy.pagenumber+1)
                                       <a href="../Hander/CDproduct.ashx?pagenumber=$nextPageNum"> |下一页</a>
                             #end
                                    <a href="../Hander/CDproduct.ashx?pagenumber=$Data.fy.pagecount">  尾页</a>

                </div>
                #end

 
    
    </div>
    </div>
   

</body>

</html>