
<!DOCTYPE HTML>
<html>
<head>
    <title>影碟系统</title>


    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/owl.carousel.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script src="../Js/jquery.min.js"></script>
    <script type="text/javascript" src="../Js/bootstrap-3.1.1.min.js"></script>

    <script type="text/javascript" src="../Js/jquery.jscrollpane.min.js"></script>
    <script src="../Js/uisearch.js"></script>

    <script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
    </script>
    <script src="../Js/classie.js"></script>
    <!-- //the jScrollPane script -->
    <link href="../css/form.css" rel="stylesheet" type="text/css" media="all" />
    <!-- the mousewheel plugin -->
    <script type="text/javascript" src="../Js/jquery.mousewheel.js"></script>

</head>


<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="top-right">
                    <ul>
                        <li class="text"><a href="login.html">登录</a></li>
                        <li class="text"><a href="login.html">注册</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>



        <div class="header-bottom">
            <div class="container">
                <!--/.content-->
                <div class="content white">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="navbar-brand"><a href="index.html">QL影碟出租屋</a></h1>
                        </div>
                        <!-----------------------------------------------------菜单----------------------------------------------------------->

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="../Hander/index.ashx">首页</a></li>
                                <li><a href="../Hander/CDproduct.ashx">影碟介绍</a></li>
                                <li><a href="../Hander/rentstate.ashx">出借情况</a></li>
                                <li><a href="../Hander/Helpcilent.ashx">FAQ 帮助中心</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!---------------------------------------------------------------------------------------------------------------------------->

                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>

                <script> new UISearch( document.getElementById( 'sb-search' ) ); </script>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--header-->
    <div class="content">
        <div class="product-model">
            <div class="container">
                <h2> 查询结果</h2>
                <div class="col-md-9 product-model-sec">
                    <a href="single.html">
                        <div class="product-grid">
                            <div class="more-product"><span> </span></div>
                            <div class="product-img b-link-stripe b-animate-go  thickbox">
                                <img src="images/m1.jpg" class="img-responsive" alt="">
                                <div class="b-wrapper">
                                    <h4 class="b-animate b-from-left  b-delay03">
                                        <button> + </button>
                                    </h4>
                                </div>
                            </div>
                    </a>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <h4>Product #1</h4>
                            <span class="item_price">$187.95</span>
                            <div class="ofr">
                                <p class="pric1"><del>Rs 280</del></p>
                                <p class="disc">[12% Off]</p>
                            </div>
                            <input type="text" class="item_quantity" value="1" />
                            <input type="button" class="item_add items" value="+">
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <a href="single.html">
                    <div class="product-grid">
                        <div class="more-product"><span> </span></div>
                        <div class="product-img b-link-stripe b-animate-go  thickbox">
                            <img src="images/m2.jpg" class="img-responsive" alt="" />
                            <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">
                                    <button> + </button>
                                </h4>
                            </div>
                        </div>
                </a>
                <div class="product-info simpleCart_shelfItem">
                    <div class="product-info-cust prt_name">
                        <h4>Product #1</h4>
                        <span class="item_price">$187.95</span>
                        <div class="ofr">
                            <p class="pric1"><del>Rs 280</del></p>
                            <p class="disc">[12% Off]</p>
                        </div>
                        <input type="text" class="item_quantity" value="1" />
                        <input type="button" class="item_add items" value="+">
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

            <a href="single.html">
                <div class="product-grid">
                    <div class="more-product"><span> </span></div>
                    <div class="product-img b-link-stripe b-animate-go  thickbox">
                        <img src="images/m3.jpg" class="img-responsive" alt="" />
                        <div class="b-wrapper">
                            <h4 class="b-animate b-from-left  b-delay03">
                                <button> + </button>
                            </h4>
                        </div>
                    </div>
            </a>
            <div class="product-info simpleCart_shelfItem">
                <div class="product-info-cust prt_name">
                    <h4>Product #1</h4>
                    <span class="item_price">$187.95</span>
                    <div class="ofr">
                        <p class="pric1"><del>Rs 280</del></p>
                        <p class="disc">[12% Off]</p>
                    </div>
                    <input type="text" class="item_quantity" value="1" />
                    <input type="button" class="item_add items" value="+">
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>

        <a href="single.html">
            <div class="product-grid">
                <div class="more-product"><span> </span></div>
                <div class="product-img b-link-stripe b-animate-go  thickbox">
                    <img src="images/m4.jpg" class="img-responsive" alt="" />
                    <div class="b-wrapper">
                        <h4 class="b-animate b-from-left  b-delay03">
                            <button> + </button>
                        </h4>
                    </div>
                </div>
        </a>
        <div class="product-info simpleCart_shelfItem">
            <div class="product-info-cust prt_name">
                <h4>Product #1</h4>
                <span class="item_price">$187.95</span>
                <div class="ofr">
                    <p class="pric1"><del>Rs 280</del></p>
                    <p class="disc">[12% Off]</p>
                </div>
                <input type="text" class="item_quantity" value="1" />
                <input type="button" class="item_add items" value="+">
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <a href="single.html">
        <div class="product-grid">
            <div class="more-product"><span> </span></div>
            <div class="product-img b-link-stripe b-animate-go  thickbox">
                <img src="images/m5.jpg" class="img-responsive" alt="" />
                <div class="b-wrapper">
                    <h4 class="b-animate b-from-left  b-delay03">
                        <button> + </button>
                    </h4>
                </div>
            </div>
    </a>
    <div class="product-info simpleCart_shelfItem">
        <div class="product-info-cust prt_name">
            <h4>Product #1</h4>
            <span class="item_price">$187.95</span>
            <div class="ofr">
                <p class="pric1"><del>Rs 280</del></p>
                <p class="disc">[12% Off]</p>
            </div>
            <input type="text" class="item_quantity" value="1" />
            <input type="button" class="item_add items" value="+">
            <div class="clearfix"> </div>
        </div>
    </div>
    </div>

    <a href="single.html">
        <div class="product-grid">
            <div class="more-product"><span> </span></div>
            <div class="product-img b-link-stripe b-animate-go  thickbox">
                <img src="images/m6.jpg" class="img-responsive" alt="" />
                <div class="b-wrapper">
                    <h4 class="b-animate b-from-left  b-delay03">
                        <button> + </button>
                    </h4>
                </div>
            </div>
    </a>
    <div class="product-info simpleCart_shelfItem">
        <div class="product-info-cust prt_name">
            <h4>Product #1</h4>
            <span class="item_price">$187.95</span>
            <div class="ofr">
                <p class="pric1"><del>Rs 280</del></p>
                <p class="disc">[12% Off]</p>
            </div>
            <input type="text" class="item_quantity" value="1" />
            <input type="button" class="item_add items" value="+">
            <div class="clearfix"> </div>
        </div>
    </div>
    </div>
    <a href="single.html">
        <div class="product-grid">
            <div class="more-product"><span> </span></div>
            <div class="product-img b-link-stripe b-animate-go  thickbox">
                <img src="images/m7.jpg" class="img-responsive" alt="" />
                <div class="b-wrapper">
                    <h4 class="b-animate b-from-left  b-delay03">
                        <button> + </button>
                    </h4>
                </div>
            </div>
    </a>
    <div class="product-info simpleCart_shelfItem">
        <div class="product-info-cust prt_name">
            <h4>Product #1</h4>
            <span class="item_price">$187.95</span>
            <div class="ofr">
                <p class="pric1"><del>Rs 280</del></p>
                <p class="disc">[12% Off]</p>
            </div>
            <input type="text" class="item_quantity" value="1" />
            <input type="button" class="item_add items" value="+">
            <div class="clearfix"> </div>
        </div>
    </div>
    </div>
    <a href="single.html">
        <div class="product-grid">
            <div class="more-product"><span> </span></div>
            <div class="product-img b-link-stripe b-animate-go  thickbox">
                <img src="images/m8.jpg" class="img-responsive" alt="" />
                <div class="b-wrapper">
                    <h4 class="b-animate b-from-left  b-delay03">
                        <button> + </button>
                    </h4>
                </div>
            </div>
    </a>
    <div class="product-info simpleCart_shelfItem">
        <div class="product-info-cust prt_name">
            <h4>Product #1</h4>
            <span class="item_price">$187.95</span>
            <div class="ofr">
                <p class="pric1"><del>Rs 280</del></p>
                <p class="disc">[12% Off]</p>
            </div>
            <input type="text" class="item_quantity" value="1" />
            <input type="button" class="item_add items" value="+">
            <div class="clearfix"> </div>
        </div>
    </div>
    </div>
    <a href="single.html">
        <div class="product-grid">
            <div class="more-product"><span> </span></div>
            <div class="product-img b-link-stripe b-animate-go  thickbox">
                <img src="images/m9.jpg" class="img-responsive" alt="" />
                <div class="b-wrapper">
                    <h4 class="b-animate b-from-left  b-delay03">
                        <button> + </button>
                    </h4>
                </div>
            </div>
    </a>
    <div class="product-info simpleCart_shelfItem">
        <div class="product-info-cust prt_name">
            <h4>Product #1</h4>
            <span class="item_price">$187.95</span>
            <div class="ofr">
                <p class="pric1"><del>Rs 280</del></p>
                <p class="disc">[12% Off]</p>
            </div>
            <input type="text" class="item_quantity" value="1" />
            <input type="button" class="item_add items" value="+">
            <div class="clearfix"> </div>
        </div>
    </div>
    </div>
    </div>
    <div class="rsidebar span_1_of_left">
        <section class="sky-form">
            <div class="product_right">
                <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>类别</h4>
                <div class="tab1">
                    <ul class="place">
                        <li class="sort">All Clothing</li>
                        <li class="by"><img src="images/do.png" alt=""></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <div class="single-bottom">
                        <a href="#"><p>Sports</p></a>
                        <a href="#"><p>Gym</p></a>
                        <a href="#"><p>Bikins</p></a>
                        <a href="#"><p>shorts</p></a>
                    </div>
                </div>
                <div class="tab2">
                    <ul class="place">
                        <li class="sort">All women Clothing</li>
                        <li class="by"><img src="images/do.png" alt=""></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <div class="single-bottom">
                        <a href="#"><p>Bikins</p></a>
                        <a href="#"><p>Shorts</p></a>
                    </div>
                </div>
                <div class="tab3">
                    <ul class="place">
                        <li class="sort">All Men Clothing</li>
                        <li class="by"><img src="images/do.png" alt=""></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <div class="single-bottom">
                        <a href="#"><p>Sports</p></a>
                    </div>
                </div>
                <div class="tab4">
                    <ul class="place">
                        <li class="sort">All Kids</li>
                        <li class="by"><img src="images/do.png" alt=""></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <div class="single-bottom">
                        <a href="#"><p>Standing Lamps</p></a>
                        <a href="#"><p>shorts</p></a>
                        <a href="#"><p>Bikini</p></a>
                    </div>
                </div>
                <!--script-->
                <script>
							$(document).ready(function(){
								$(".tab1 .single-bottom").hide();
								$(".tab2 .single-bottom").hide();
								$(".tab3 .single-bottom").hide();
								$(".tab4 .single-bottom").hide();
								$(".tab5 .single-bottom").hide();

								$(".tab1 ul").click(function(){
									$(".tab1 .single-bottom").slideToggle(300);
									$(".tab2 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
								})
								$(".tab2 ul").click(function(){
									$(".tab2 .single-bottom").slideToggle(300);
									$(".tab1 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
								})
								$(".tab3 ul").click(function(){
									$(".tab3 .single-bottom").slideToggle(300);
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})
								$(".tab4 ul").click(function(){
									$(".tab4 .single-bottom").slideToggle(300);
									$(".tab5 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})
								$(".tab5 ul").click(function(){
									$(".tab5 .single-bottom").slideToggle(300);
									$(".tab4 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})
							});
                </script>
                <!-- script -->
        </section>

       </div>



    </body>
</html>