
<!DOCTYPE HTML>
<html>
<head>
<title>影碟系统</title>


<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/owl.carousel.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="../Js/jquery.min.js"></script>
<script type="text/javascript" src="../Js/bootstrap-3.1.1.min.js"></script>
<script src="../Js/classie.js"></script>
<script src="../Js/uisearch.js"></script>

<script src="../Js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
                    $("#owl-demo").owlCarousel({
                        items: 3,
                        lazyLoad: true,
                        autoPlay: true,
                        pagination: false,
                    });
                });
</script>

</head>



<!------------------------------------------------------中间内容------------------------------------------------------>


<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="top-right">
                    <ul>
                        <li class="text"><a href="login.html">登录</a></li>
                        <li class="text"><a href="login.html">注册</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>



        <div class="header-bottom">
            <div class="container">
                <!--/.content-->
                <div class="content white">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="navbar-brand"><a href="index.html">QL影碟出租屋</a></h1>
                        </div>
                        <!-----------------------------------------------------菜单----------------------------------------------------------->

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="../Hander/index.ashx">首页</a></li>
                                <li><a href="../Hander/CDproduct.ashx">影碟介绍</a></li>
                                <li><a href="../Hander/rentstate.ashx">出借情况</a></li>
                                <li><a href="../Hander/Helpcilent.ashx">FAQ 帮助中心</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!---------------------------------------------------------------------------------------------------------------------------->

                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>

                <script> new UISearch( document.getElementById( 'sb-search' ) ); </script>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------------->


    <div class="banner-section">
        <div class="container">
            <div class="banner-grids">
                <div class="col-md-6 banner-grid">
                    <p>StoreAddress:中国北京海淀区XX街XX号大厦.</p>
                    <p>Telphonenum:15232256978</p>
                    <a href="products.html" class="button"> Get in Store </a>
                </div>
                <div class="col-md-6 banner-grid1">
                    <img src=" ../image/01.jpg" class="img-responsive" alt="" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</body>
</html>